@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);


$dark: #171717;
$light: #ffffff;
$font-stack: 'Fira Code', sans-serif;

html {
    box-sizing: border-box;
  }
a {
    color: inherit;
    width: 100%;
    text-decoration: none

}
*, *::before, *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
#msg {
    text-align: center
}
.inputEmail {
    margin: 3px 0;
    text-align: center
}
.hello {
font-size: 30px;
color: black;
width: 100%;
text-align: center;
background-color: rgba(255, 255, 255, 0.185);
    @media (max-width:900) {
       font-size: 20px;
    }
}
body {
    background-image: url('https://images.pexels.com/photos/950902/pexels-photo-950902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    line-height: 30px;
    overflow-x: hidden;
    background-color: #171717;
    color:$light;
    font-family: $font-stack;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    @media (max-width:900px) {
        line-height: 25px;
        font-size: 15px;
    }
}
img {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end
}
img:hover {
    filter: invert(100%);
    cursor: pointer;
}
.nav {
    // &:hover {
    //     filter: invert(100);
    //     cursor: pointer;
    // }
    // position: fixed;
    // top: 0;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    box-shadow: 0 0 12px 1px rgba(255, 255, 255, 0.788);
    background-image: url('https://images.pexels.com/photos/207732/pexels-photo-207732.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    transition: transform 0.3s 0.1s ease-in-out;
    margin-bottom: 200px;
    
    &__list {
        // border-left:1px solid white;
        // border-bottom: 1px solid white;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 99.7%;
        width: 250px;
        background-color: rgba(0, 0, 0, 0.74);
        color:$light;
        position: absolute;
        list-style-type: none;

        top: -15px;
        left: 0; // jesli zanimoalibysmy LEFT to syrasznie by nam zwolnila ta animka
        // zawsze animujemy TRANSFORM!
        transform: translatex(-250px);
        @media (max-width:900px) {
            top: -14px
        }

    }
    &__item {
        font-size: 19px;
        padding: 1px 2px;
        color:$light;
        width: 100%;
        @media (max-width:900px) {
            width: 100%;
            padding:2px 0;
            margin: 0;
            font-size: 15px;
           
        }
    }
    :nth-of-type(5) {
              display: none;
             @media (max-width:900px) {
                 display: inline-block
             }
            }
    &__item a:hover {
        cursor: pointer;
        border-left: 2px solid white;
        padding-left:20px ;
        font-weight: bold;
        transition: padding 0.3s ease-in-out
    }   
}
#close {
    color:red;
    &:hover {
        font-weight: bold
    }
}
div .hr {
    @media (max-width:900px) {
        display: none
    }
}
.lastWord {
    width: 50%;
    background-color: $light;
    color: $dark;
    padding: 5px;;
    text-align: center;
    margin: 0;
    border: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    position: relative;
    top: -10px;
}
.footer img {
    margin-top: 10px;
    align-self:stretch;
    @media (max-width: 900px) {
        align-self: center
    }
}
.footer {
    width: 100%;
    left: -200px;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    color: $dark;
    background-color:white;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    @media (max-width:700px) {
        img {
            order: 3;
            
           
        }
        padding:0;
        margin: 0;
        flex-direction: column;
        align-items: center ;
        justify-content: center;
    }

    &__box {
        border: 2px solid black;
        padding: 12px;

        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10px;
        width: 200px;
        &:first-of-type{
        justify-content: flex-start;
        }
      
        
    }
    &__title {
        text-align: center;
        padding: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    &__items {
        list-style-type: none;
        padding: 0;
        text-align: center;
        margin-top: 60px;
        @media (max-width:900px){
            margin: 0
        }

        :hover  {
            cursor: pointer;
            background-color: $dark;
            color:$light
    
        }
    }
    &__email {
        border: none;
        color: $dark;
        font-size: 20px;
        border-bottom: 2px solid black;
        width: 100%;
        align-self: center;
        text-align: center;
    }
    &__button {
        height: 35px;
        margin-top: 6px;
        font-family: $font-stack;
        background-color: $light;
        font-weight: bold;
        border-top: 2px solid black;
        border-left:2px solid black;
        border-right:2px solid black;
        border-bottom:2px solid black;
        &:hover {
            cursor: pointer;
            filter: invert(100%);
        };



    }
}

.active {
    transform: translateX(250px);
    .navbar {
        transform: translateX(250px)
    }
    
}


//hamburger

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border:2px solid black;
    margin: 3px
}
.hamburger__box {
    width:40px;
    height: 24px;
    display: inline-block;
    position: relative;
};
.hamburger:hover {
    // background-color: black;
    // filter: invert()
}
@mixin hamburger-line {
    width:100%;
    height: 4px;
    position: absolute;
    background-color: $dark
}
.hamburger__inner {
    @include hamburger-line;
    
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s .1s ease-in-out
}

.hamburger__inner::before,
.hamburger__inner::after
 {
    @include hamburger-line;
    content: '';
    left: 0;
    transition: transform 0.3s ease-in-out
}

.hamburger__inner::after {

    top: 10px;
}

.hamburger__inner::before {

    top: -10px;
}

.hamburger--active  .hamburger__inner {
    background-color: transparent
}
.hamburger--active .hamburger__inner::before {
     transform:translateY(10px)  rotate(45deg) 

}
.hamburger--active .hamburger__inner::after{
    transform:translateY(-10px) rotate(-45deg)

}
.hamburger, .nav {
transition: transform 0.3s 0.1s ease-in-out

}
.hamburger--active {
    transform: translate(0px)
}


// tabs cards
// .info {
//     text-align: center;
//     max-width: 700px;
//     margin-bottom: 120px;
//     &__title {
//         font-size: 45px;
//         margin-bottom: 40px
//     }
   
// }
.info {
    text-align: center;
    max-width: 700px;
    margin-bottom: 120px;
    width: 100%;
    padding: 5px 20px;
    @media (max-width:900) {
        margin-bottom: 0;
    }
    }

section { 
    border-top:2px solid rgb(0, 0, 0);
    padding:0;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    color: black;
    background-color: rgba(255, 255, 255, 0.397);
   
    &__title {
        font-size: 45px;
        margin-bottom: 40px
    };
    @media (max-width:700px) {
        flex-direction: column;
    }
    .info:last-of-type{
        color: white;
        background-color: rgba(0, 0, 0, 0.767);
        filter: alpha(opacity=20);
    }
}
// section .info:hover {
//     background-color: $light;
//     cursor: pointer;
//     color:$dark;
// }

.container {
    
    // display: flex;
    // justify-content: center;
    background-image: url('https://images.pexels.com/photos/33283/stack-of-books-vintage-books-book-books.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center;
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    padding: 50px 50px;

    @media(max-width: 1200px) {
        flex-direction: column;
        padding: 2px;
        margin: 1px;
        
        .box {
            margin: 4px;
            padding: 5px;
        }
        .box:last-of-type{
            margin-bottom: 0;
        }
    }
}
.box {
    background-color: rgba(0, 0, 0, 0.616);
    // box-shadow: 0 0 22px 2px rgba(255, 255, 255, 0.486);
    // border: 5px solid $light;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 5px;
    margin: 0;
         &:hover {
         box-shadow: 0 0 23px 3px rgba(0, 0, 0, 0.562);
     }

   @media (max-width: 1200px){
        margin: 0;
        padding:0 20px !important;
        max-height: fit-content;
        font-size: 10px;
 
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.705);
        filter:invert(100%);
        cursor: crosshair;
    }
 
    &:first-of-type {
        right: -5px;
        height: 700px;
        @media (max-width: 1200px){
            right: 0;
        
        }
    
    }
    &:nth-of-type(2) {
     height: 900px;
     z-index: 299;
     padding: 0 25px;
     border: 2px solid black;
     filter: invert(100);
     .box__title {
         margin-bottom: 100px;
         @media (max-width:1200px) {
         }
     }
     @media (max-width:1200px) {
         height: auto;
         padding:30px 0;
     }
    }
    &:last-of-type {
        left:-5px;
        height: 700px;

        @media (max-width: 1200px){
            left:0;
            border:none;
        
        }

    }

    &__title {
        margin: 30px 0;
    }
    &__price {
     margin: 30px 0
    }
    
    &__price, &__title {
        font-size: 30px;
        font-weight: bold

    }
    &__descr {
        font-size: 15px
    }
    &__button {
        padding: 8px 25px;
        font-family: $font-stack;
        background-color: $light;
        font-weight: bold
    }
    // &--featured {
    //     background-color: $light;
    //     color: $dark;
    //     padding:0 2px;
    //     min-height: 450px;
    //     box-shadow: 0 0 22px 1px white;


    //     @media (max-width:800px) {
    //       transform: scale(1.2);
    //       z-index: 99;
    //     //   width: 110%;
    //     //   left: -15px;
    //     }

    //     &::before {
    //         content: '';
    //         position: absolute;
    //         width: 95%;
    //         height: 95%;
    //         border: 7px solid black
    //     }

    //     .box__title, .box__price {
    //         font-size: 60px;
    //         margin: 25px;
    //         font-weight: bold;
    //     }
    //     .box__descr{ 
    //         font-size: 20px
    //     }

    //     .box__button {
    //         background-color: $dark;
    //         color: $light;
    //         font-size: 20px;
    //         padding: 12px 28px;
    //     }
    // }
}
